// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-meta {
  margin-top: 30px;
}

.post-id {
  margin-right: 20px;
}

.posted-at-top {
  margin-left: 20px;
}

.print-post {
  float: right;
}