// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  // background: #dedede;
}

.main-left {
  float: left;
  width: 33.3%;
}

.main-right {
  float: left;
  width: 66.6%;
}

.title {
  font-size: 1.5rem;
}

.breadcrumbs {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right;
}

.m-l-10 {
  margin-left: 10px;
}

.nav-pages {
  margin-top: 50px;
}