<h2>Frequently Asked Questions</h2>

<p><strong>Why did you make this?</strong></p>
<p>Because I'm learing Rails and this was a good website to clone.</p>
<hr />
<p><strong>Aren't you afraid of copyright claims?</strong></p>
<p>I have like a $100, if that's worth sueing over.</p>
<hr />
<p><strong>Who are you?</strong></p>
<p><a href="http://simonpeterdebbarma.com">Simon</a></p>